<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/framework.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="container">
	<div class="row">
		<div class="header-portion col-xs-12">
			<div class="row">
				<div class="col-xs-6">
					<ul class="main-menu m0 p0">
						<li class="active"><a href="#">Projects</a></li>
						<li><a href="#">Activity</a></li>
						<li><a href="#">Calendar</a></li>
						<li><a href="#">Settings</a></li>
					</ul>
				</div>
				<div class="col-xs-6">
					<input type="text" name="search" class="txt-search pull-right p5 mt15" placeholder="Search for project, task, label...">
				</div>
			</div>
		</div>
		<!-- End of Header Portion -->

		<div class="main-body">
			<div class="row button-filter-container">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6">
							<button class="btn btn-default mt25 ml20">Create New Project</button>
						</div>
						<div class="col-xs-6 sort-filter-container pull-right mt35 mb35">
							<div class="sort-container pull-right">
								<span>Sort by:</span>
								<ul class="sort-filter m0 p0">
									<li class="active"><a href="#">Last Modified</a></li>
									<li><a href="#">Alphabetic (A-Z)</a></li>
									<li><a href="#">Deadline</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row project-list-container pl20 fl">
				<div class="col-xs-12">
					<div class="projects-column p5 mb15 mr15 fl">
						<label class="project-title mt10">Create an iPhone App</label>
						<p class="update-access-level-container">
							<label class="pull-left">Last Updated: 14 minutes ago</label>
							<label class="pull-right">Everyone</label>
						</p>
						<label class="deadline-time mb15">Deadline: 23 June, 2017</label>
						<label class="assignee">Assignee:</label>
						<ul class="assignee-list">
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
						</ul>
						<div class="tags mt15 mb15">
							<ul>
								<li><a href="#">UI UX</a></li>
								<li><a href="#">APP DEVELOPMENT</a></li>
								<li><a href="#">IOS</a></li>
							</ul>
						</div>
					</div>

					<div class="projects-column p5 mb15 mr15 fl">
						<label class="project-title mt10">Create an iPhone App</label>
						<p class="update-access-level-container">
							<label class="pull-left">Last Updated: 14 minutes ago</label>
							<label class="pull-right">Everyone</label>
						</p>
						<label class="deadline-time mb15">Deadline: 23 June, 2017</label>
						<label class="assignee">Assignee:</label>
						<ul class="assignee-list">
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
						</ul>
						<div class="tags mt15 mb15">
							<ul>
								<li><a href="#">UI UX</a></li>
								<li><a href="#">APP DEVELOPMENT</a></li>
								<li><a href="#">IOS</a></li>
							</ul>
						</div>
					</div>

					<div class="projects-column p5 mb15 mr15 fl">
						<label class="project-title mt10">Create an iPhone App</label>
						<p class="update-access-level-container">
							<label class="pull-left">Last Updated: 14 minutes ago</label>
							<label class="pull-right">Everyone</label>
						</p>
						<label class="deadline-time mb15">Deadline: 23 June, 2017</label>
						<label class="assignee">Assignee:</label>
						<ul class="assignee-list">
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
						</ul>
						<div class="tags mt15 mb15">
							<ul>
								<li><a href="#">UI UX</a></li>
								<li><a href="#">APP DEVELOPMENT</a></li>
								<li><a href="#">IOS</a></li>
							</ul>
						</div>
					</div>

					<div class="projects-column p5 mb15 mr15 fl">
						<label class="project-title mt10">Create an iPhone App</label>
						<p class="update-access-level-container">
							<label class="pull-left">Last Updated: 14 minutes ago</label>
							<label class="pull-right">Everyone</label>
						</p>
						<label class="deadline-time mb15">Deadline: 23 June, 2017</label>
						<label class="assignee">Assignee:</label>
						<ul class="assignee-list">
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
						</ul>
						<div class="tags mt15 mb15">
							<ul>
								<li><a href="#">UI UX</a></li>
								<li><a href="#">APP DEVELOPMENT</a></li>
								<li><a href="#">IOS</a></li>
							</ul>
						</div>
					</div>

					<div class="projects-column p5 mb15 mr15 fl">
						<label class="project-title mt10">Create an iPhone App</label>
						<p class="update-access-level-container">
							<label class="pull-left">Last Updated: 14 minutes ago</label>
							<label class="pull-right">Everyone</label>
						</p>
						<label class="deadline-time mb15">Deadline: 23 June, 2017</label>
						<label class="assignee">Assignee:</label>
						<ul class="assignee-list">
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
							<li><img src="images/asignee.png"></li>
						</ul>
						<div class="tags mt15 mb15">
							<ul>
								<li><a href="#">UI UX</a></li>
								<li><a href="#">APP DEVELOPMENT</a></li>
								<li><a href="#">IOS</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			
			<div class="row completed-archive-project-caption pl20 mt20">
				<div class="col-xs-12">
					<label>Completed and Archive Projects</label>
					<p>This will be autometically deleted ....</p>
				</div>
			</div>

			<div class="row completed-projects-container pl20">
				<div class="col-xs-12">
					<div class="completed-projects mr15 mb15">
						<label>Another Proejcts</label>
						<p>Marked completed by <a href="#">Ashique</a> <span>Delete</span></p>
					</div>
					<div class="completed-projects mr15 mb15">
						<label>Another Proejcts</label>
						<p>Marked completed by <a href="#">Sohel</a> <span>Delete</span></p>
					</div>
					<div class="completed-projects mr15 mb15">
						<label>Another Proejcts</label>
						<p>Marked completed by <a href="#">Nasir</a> <span>Delete</span></p>
					</div>
					<div class="completed-projects mr15 mb15">
						<label>Another Proejcts</label>
						<p>Marked completed by <a href="#">Ashique</a> <span>Delete</span></p>
					</div>
					<div class="completed-projects mr15 mb15">
						<label>Another Proejcts</label>
						<p>Marked completed by <a href="#">Ashique</a> <span>Delete</span></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Main Body -->

	</div>
</div>

<script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>